{% extends '_base.html' %}
{% block content %}
<header>
  <div class="row align-center">
    <div class="large-10 column">
      <h1><img src="images/bp-2016-ville-sblg-logo-tableau-vote.png" alt=""></h1>
    </div>
  </div>
</header>
<main>
  
  <div class="row align-center">
    <div class="large-8 column">
      <p>Faites entendre votre voix en priorisant cinq projets!</p>
    </div>
  </div>
  
  <div class="buttons">
    <div class="row align-center">
      <div class="large-4 column small-12">
        <a href="http://bpadultes.budgetcitoyen.com" class="button">Projets pour<span>l'ensemble de la population</span></a>
      </div>
      <div class="large-4 column small-12">
        <a href="http://bpjeunes.budgetcitoyen.com" class="button">Projets pour<span>les jeunes de 10 à 17 ans</span></a>
      </div>
    </div>
  </div>

</main>
<footer>
  
  <div class="extra-info">
    <div class="row align-center">
      <div class="large-8 column">
        <h1><img src="images/city-logo.png" alt="Saint-Basile-le-Grand"></h1>
      </div>
    </div>
  </div>
  
  <div class="powered-by">
    <div class="row align-center">
      <div class="large-8">
        Powered by <a href="http://www.citizenbudget.com/" target="_blank">Citizen Budget</a>
      </div>
    </div>
  </div>

</footer>

{% endblock %}