{% extends '_base.html' %}
{% block content %}
<header>
  <div class="row align-center">
    <div class="large-8 column">
      <h1><img src="images/city-logo.png" alt="Saint-Basile-le-Grand"></h1>
    </div>
  </div>
</header>
<main>
  
  <div class="row align-center">
    <div class="large-8 column">
      <p>La ville de Saint-Basile-le-Grand vous invite à voter pour vos projets favoris. Merci de votre participation!</p>
    </div>
  </div>
  
  <div class="buttons">
    <div class="row align-center">
      <div class="large-4 column small-12">
        <a href="http://bpjeunes.budgetcitoyen.com" class="button">Vote BP<span>10-17 ans</span></a>
      </div>
      <div class="large-4 column small-12">
        <a href="http://bpadultes.budgetcitoyen.com" class="button">Vote BP<span>Général</span></a>
      </div>
    </div>
  </div>

</main>
<footer>
  
  <div class="extra-info">
    <div class="row align-center">
      <div class="large-4 column">
        <p>Pous nous joindre</p>
        <p>450 461 8000</p>
        <p><a href="http://www.ville.saint-basile-le-grand.qc.ca/" target="_blank">www.ville.saint-basile-le-grand.qc.ca</a></p>
      </div>
    </div>
  </div>
  
  <div class="powered-by">
    <div class="row align-center">
      <div class="large-8">
        Powered by <a href="http://www.citizenbudget.com/" target="_blank">Citizen Budget</a>
      </div>
    </div>
  </div>

</footer>

{% endblock %}